/lab1/target/
/lab2/lab1/target/
/lab3/Client/target/
/lab3/RestAD/target/
/lab4/Client/target/
/lab4/RestAD/target/
/lab4/RestADSecundario/target/
/lab4/ClientOtroGrupo/target/
/lab4/Client - copia/target/
/lab4/ClientOtroGrupo - copia/target/
/exploratoria/app/__pycache__/
/exploratoria/instance/
/exploratoria/__pycache__/
/exploratoria/Client_API_Pyton/target/
/exploratoria/Client_API_Python/target/
