/lab1/target/
/lab2/lab1/target/
/lab3/Client/target/
/lab3/RestAD/target/
/lab4/Client/target/
/lab4/RestAD/target/
/lab4/RestADSecundario/AD-practica4-REST/target/
/lab4/AD-practica4-REST/target/
/lab4/RestADSecundario/target/
